<div class="w-50 p-3" style="background-color: #eee;">

<h1>All Added Books</h1>


<ul>
<% @books.each do |book| %>
  <li> <%= link_to book.title, book %>  </li>
<% end  %>
</ul>

<%= button_to "Add a Book!", new_book_path, method: :get %>
</div>
